.page {
  font-family: 'Nivea Light OT';
  color: #0032A0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: border-box;
}

/* div {
  border: 0.5px solid red;
} */
