.result__subtitle {
  font-family: 'Nivea Bold OT';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0032A0;
  margin: 0;
  margin-top: 50px;
}
